.sidebar {
    background-color: #ffff !important;
    box-shadow: 0px 8px 16px 0px rgb(249, 248, 247);

    min-width: 250px;
    padding: 1rem 2rem !important;
    display: flex;
    flex-direction: column;
    font-weight: 600;

}

.sidebar_item {
    display: flex;
    align-items: center;
    margin: .5rem 0 .5rem;
    padding: .5rem 0 .8rem;
    cursor: pointer;
}

.icon {
    font-size: 22px;
    box-shadow: rgba(239, 87, 11, 0.932) 0 10px 10px -10px;
    color: gray;
}

.item_tite {
    font-size: 18px;

    margin-left: .5rem;
}

.Link {
    text-decoration: none;
}

.space {
    justify-content: space-between;
    display: flex;

    width: 100%;
}

.sidebar_inside {
    display: block;
    margin-left: 1rem;
    font-size: 15px;
}

.sidebar_insidef {
    font-size: 15px;
}